.first {
  /* background-image: linear-gradient(
      to right,
      rgba(48, 47, 47, 0.678),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../public/background_about2.png"); */
  background: url("../../public/background_about2.png");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 2rem;
  color: #fff;
}

.first h1 {
  width: 70%;
  font-size: 3vw;
}

.first h4 {
  width: 60%;
  font-size: 1.4vw;
  line-height: 28px;
}

.container2 {
  gap: 5rem;
}
@media (min-width: 767px) and (max-width: 900px) {
  .first h1 {
    font-size: 3.5vw;
    width: 80%;
  }
  .first h4 {
    font-size: 2.2vw;
    width: 70%;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  .first h1 {
    font-size: 7vw;
    width: 100%;
    text-align: left;
  }
  .first h4 {
    font-size: 3.8vw;
    width: 100%;
    line-height: 24px;
    text-align: left;
  }
  .first {
    padding: 1rem;
  }

  .container2 {
    gap: 2rem;
  }
}
