.chatContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.chatContentChatHeaderContainer {
  height: fit-content;
}

.chatContentChatBodyContainer {
  flex: 1;
  overflow-y: auto;
}

.chatContentChatInputContainer {
  height: 10%;
}
