.chatContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.chatContentChatHeaderContainer {
  min-height: 12%;
  /* max-height: fit-content; */
}

.chatContentChatBodyContainer {
  flex: 1;
  overflow-y: auto;
}

.chatContentChatInputContainer {
  min-height: 10%;
}
@media (min-width: 200px) and (max-width: 600px) {
  .chatContentContainer {
    height: 90dvh;
  }
  .chatContentChatInputContainer {
    max-height: 10.8dvh;
    min-height: 10.8dvh;
    flex: auto;
  }
  .chatContentChatBodyContainer {
    height: 70dvh;
  }
  .chatContentChatHeaderContainer {
    /* min-height: 12%; */
    max-height: 9.2dvh;
    min-height: 9.2dvh;
  }
}
