.layoutContainer {
  display: flex;
  height: 100vh;
  gap: 1rem;
  width: 100%;
}

.layoutProfileNavDiv {
  width: 20%;
  height: 100%;
  position: relative;
}
.layoutProfileChildren {
  width: 80%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.layoutProfileChildren::-webkit-scrollbar {
  width: 5px;
}

.layoutProfileChildren::-webkit-scrollbar-thumb {
  background: #5596e6;
}

.layoutProfileChildren::-webkit-scrollbar-thumb:active {
  background: #111;
}

.backDiv {
  display: none;
}

@media (min-width: 200px) and (max-width: 767px) {
  .layoutProfileNavDiv {
    display: none;
  }
  .layoutProfileChildren {
    width: 100%;
  }

  .backDiv {
    display: block;
    position: absolute;
    z-index: 9999;
    left: 1rem;
  }
  .layoutContainer {
    display: flex;
    height: 100vh;
    gap: 1rem;
    width: 100%;
  }
  .layoutProfileChildrenDiv {
    flex: 1;
    overflow: auto;
  }
}
