.container {
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
}

.footerDiv {
  width: 70%;
}

.design {
  border-radius: 0 0 50% 50%;
  background-color: #fff;
  height: 30vh;
  width: 100%;
  margin-bottom: 10vh;
}

@media (min-width: 200px) and (max-width: 767px) {
  .footerDiv {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0.5rem;
  }
  .design {
    height: 15vh;
    width: 100%;
    margin-bottom: 5vh;
  }
}
