.container {
  width: 100%;
}

.headerContainer {
  width: 55%;
}

.headerContainer h1 {
  font-size: 3vw;
  background: linear-gradient(to right, #fff, #282828);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  font-size: 16px;
  line-height: 25px;
}

.imageDiv {
  width: 40%;
  height: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.button {
  height: 50px;
  font-size: 14px;
}

.container2 {
  padding: 1rem 5rem;
}

.btnDiv {
  gap: 1rem;
}

@media (min-width: 767px) and (max-width: 900px) {
  .container {
    font-size: 30px;
  }
  .headerContainer h1 {
    font-size: 3.1vw;
  }

  .container2 {
    padding: 1rem 0 1rem 2rem;
  }

  .paragraph p {
    font-size: 1.8vw;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .container2 {
    flex-direction: column;
    gap: 1.5rem;
  }

  .headerContainer {
    width: 100%;
  }

  .headerContainer h1 {
    font-size: 28px;
  }

  .paragraph p {
    font-size: 14px;
  }

  .container2 {
    padding: 1rem 0 1rem 1rem;
  }

  .imageDiv {
    display: none;
  }

  .button {
    font-size: 12px;
  }

  .btnDiv {
    padding: 0 1rem 0 0;
    justify-content: space-between;
  }
}
