* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #2f3b50;
  --secondaryColor: #151a23;
  --primaryColor: #202836;
  --textColor: #bbb;
  --shadow_color: #111;
  /* --blue_color: #5596e6; */
  --border_color: #2f3b50;
  --interractions_shadow: 0px 5px 20px rgba(86, 151, 230, 0.4);
  --overview_shadow: 0px 5px 10px rgba(86, 151, 230, 0.3);
  --white: #fff;
  --100vh: 100vh;
  --90vh: 90vh;
  --20vh: 20vh;
  --100: 100%;
  --90: 90%;
  --80: 80%;
  --70: 70%;
  --50: 50%;
  --30: 30%;
  --40: 40%;
  --35: 35%;
  --2: 2%;
  --5: 5%;
  --flex: flex;
  --column: column;
  --center: center;
  --end: flex-end;
  --start: flex-start;
  --10px: 10px;
  --12px: 12px;
  --14px: 14px;
  --16px: 16px;
  --18px: 18px;
  --20px: 20px;
  --05rem: 0.5rem;
  --1rem: 1rem;
  --15rem: 1.5rem;
  --2rem: 2rem;
  --3rem: 3rem;
  --4rem: 4rem;
  --5rem: 5rem;
}

[color-scheme="dark"] {
  --mainColor: #2f3b50;
  --secondaryColor: #151a23;
  --primaryColor: #202836;
  --textColor: #bbb;
  --shadow_color: #111;
  /* --blue_color: #5596e6; */
  --border_color: #2f3b50;
  --interractions_shadow: 0px 5px 20px rgba(86, 151, 230, 0.4);
}

[color-scheme="light"] {
  --mainColor: #fff;
  --secondaryColor: #f4f4f4;
  --primaryColor: #fff;
  --textColor: #202836;
  --shadow_color: #e8e8e8;
  --border_color: #bbb;
  --interractions_shadow: 0px 5px 20px rgba(32, 40, 54, 0.4);
}

.border {
  border: 1px solid var(--border_color);
}

.text_color {
  color: var(--textColor);
}

.background {
  background: var(--secondaryColor);
}

.background2 {
  background: var(--primaryColor);
}

.text_decoration_none {
  text-decoration: none;
}

.shadow {
  box-shadow: 1px 1px 5px var(--shadow_color);
}

.border_bottom {
  border-bottom: 1px solid var(--border_color);
}

.like_comment_btn {
  box-shadow: var(--interractions_shadow);
}

.overview_btn_shadow {
  box-shadow: var(--overview_shadow);
}

.white_background {
  background: #fff;
}

.bigContainer {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.height100 {
  height: 100%;
}

.height_fit {
  height: fit-content;
}

.theme {
  transition: 0.5s all ease;
}

.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.font10 {
  font-size: var(--10px);
}

.font12 {
  font-size: var(--12px);
}

.font14 {
  font-size: var(--14px);
}

.font16 {
  font-size: var(--16px);
}

.font18 {
  font-size: var(--18px);
}

.font20 {
  font-size: var(--20px);
}

.font24 {
  font-size: 24px;
}

.fontW600 {
  font-weight: 600;
}

.flex {
  display: var(--flex);
}

.column {
  flex-direction: var(--column);
}

.justify_center {
  justify-content: var(--center);
}

.align_center {
  align-items: var(--center);
}

.align_start {
  align-items: var(--start);
}

.justify_end {
  justify-content: var(--end);
}

.justify_start {
  justify-content: var(--start);
}

.justify_between {
  justify-content: space-between;
}

.textCenter {
  text-align: var(--center);
}

.wrap {
  flex-wrap: wrap;
}

.gap02rem {
  gap: 0.2rem;
}

.gap05rem {
  gap: var(--05rem);
}

.gap1rem {
  gap: var(--1rem);
}

.gap15rem {
  gap: var(--15rem);
}

.gap2rem {
  gap: var(--2rem);
}

.gap5rem {
  gap: var(--5rem);
}

.darkBlue {
  background: var(--mainColor);
}

.white {
  color: var(--white);
}

.mainBackground {
  background: var(--secondaryColor);
}

.primaryColor {
  background: var(--primaryColor);
}

.blue {
  color: #5596e6;
}

.blue_background {
  background: #5596e6;
}

.padding05rem {
  padding: var(--05rem);
}

.padding1rem {
  padding: var(--1rem);
}

.padding2rem {
  padding: var(--2rem);
}

.paddingLeft2rem {
  padding-left: var(--2rem);
}

.paddingLeft5 {
  padding-left: var(--5);
}

.paddingRight2rem {
  padding-right: var(--2rem);
}
.paddingTop1Rem {
  padding-top: var(--1rem);
}

.padding3rem {
  padding: var(--3rem);
}

.padding2 {
  padding: var(--2);
}

.margintop1rem {
  margin-top: 1rem;
}

.white_color {
  color: #bbb;
}

.width100 {
  width: 100%;
}

.resize_off {
  resize: none;
}

.width_fit {
  width: fit-content;
}

.roundedImage {
  border-radius: 50%;
}

.br6px {
  border-radius: 6px;
}

.object-cover {
  object-fit: cover;
}

.sticky {
  position: sticky;
}

.top15Vh {
  top: 15vh;
}

.relative {
  position: relative;
}

.br6 {
  border-radius: 6px;
}
