* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #2f3b50;
  /* --secondaryColor: #151a23;
  --primaryColor: #202836; */
  --secondaryColor: #18191a;
  --primaryColor: #111;
  --reverse_primaryColor: #fff;
  --reverse_primaryColor2: #f4f4f4;
  --white-black: #fff;
  --textColor: #bbb;
  --reverse_textColor: #202836;
  --shadow_color: #111;
  --blue_color: #5596e6;
  --border_color: rgba(47, 59, 80, 0.3);
  --offline_status: #c70a0a;
  --typing_text: #5596e6;
  --navTransparent: rgba(32, 40, 54, 0.3);
  --interractions_shadow: 0px 5px 20px rgba(86, 151, 230, 0.4);
  --overview_shadow: 0px 5px 10px rgba(86, 151, 230, 0.3);
  --background_transparent: rgba(21, 26, 35, 0.7);
  --white: #fff;
  --100vh: 100vh;
  --90vh: 90vh;
  --20vh: 20vh;
  --100: 100%;
  --90: 90%;
  --80: 80%;
  --70: 70%;
  --50: 50%;
  --30: 30%;
  --40: 40%;
  --35: 35%;
  --2: 2%;
  --5: 5%;
  --flex: flex;
  --column: column;
  --center: center;
  --end: flex-end;
  --start: flex-start;
  --10px: 10px;
  --12px: 12px;
  --14px: 14px;
  --16px: 16px;
  --18px: 18px;
  --20px: 20px;
  --05rem: 0.5rem;
  --1rem: 1rem;
  --15rem: 1.5rem;
  --2rem: 2rem;
  --3rem: 3rem;
  --4rem: 4rem;
  --5rem: 5rem;
}

[color-scheme="dark"] {
  --mainColor: #2f3b50;
  --secondaryColor: #18191a;
  --primaryColor: #111;
  --reverse_primaryColor: #fff;
  --reverse_primaryColor2: #f4f4f4;
  --white-black: #fff;
  --textColor: #bbb;
  --reverse_textColor: #202836;
  --shadow_color: #111;
  --offline_status: #c70a0a;
  --typing_text: #5596e6;
  --background_transparent: rgba(21, 26, 35, 0.7);
  /* --blue_color: #5596e6; */
  --border_color: rgba(47, 59, 80, 0.3);
  --interractions_shadow: 0px 5px 20px rgba(86, 151, 230, 0.4);
  --navTransparent: rgba(32, 40, 54, 0.5);
}

[color-scheme="light"] {
  --mainColor: #fff;
  --secondaryColor: #f4f4f4;
  --reverse_primaryColor2: #18191a;
  --primaryColor: #fff;
  --white-black: #000;
  --reverse_primaryColor: #202836;
  --offline_status: #c70a0a;
  --background_transparent: rgba(245, 245, 245, 0.7);
  --typing_text: #0ac710;
  --textColor: #202836;
  --reverse_textColor: #bbb;
  --shadow_color: #e8e8e8;
  --border_color: rgba(187, 187, 187, 0.3);
  --interractions_shadow: 0px 5px 20px rgba(32, 40, 54, 0.4);
  --navTransparent: rgba(244, 244, 244, 0.5);
}

.typing_text {
  color: var(--typing_text);
}

.offline_status {
  color: var(--offline_status);
}

.border {
  border: 1px solid var(--border_color);
}

.toggle_btn_border {
  border: 1px solid var(--shadow_color);
}

.text_color {
  color: var(--textColor);
}

.text_color::-webkit-input-placeholder {
  color: var(--textColor);
}

.reverse_text_color {
  color: var(--reverse_textColor);
}

.reverse_background2 {
  background: var(--reverse_primaryColor);
}

.reverse_background3 {
  background: var(--reverse_primaryColor2);
}

.absolute {
  position: absolute;
}

.background {
  background: var(--secondaryColor);
}

.background_transparent {
  background: var(--background_transparent);
}

.background_invisible {
  background: transparent;
}

.background2 {
  background: var(--primaryColor);
}

.text_decoration_none {
  text-decoration: none;
}

.shadow {
  box-shadow: 1px 1px 5px var(--shadow_color);
}

.border_bottom {
  border-bottom: 1px solid var(--border_color);
}

.like_comment_btn {
  box-shadow: var(--interractions_shadow);
}

.overview_btn_shadow {
  box-shadow: var(--overview_shadow);
}

.viewMoreButton:hover {
  background: transparent;
}

.white_background {
  background: #fff;
}

.bigContainer {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.height100 {
  height: 100%;
}

.height_fit {
  height: fit-content;
}

.theme {
  transition: 0.5s all ease;
}

.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.font10 {
  font-size: var(--10px);
}

.font12 {
  font-size: var(--12px);
}

.font14 {
  font-size: var(--14px);
}

.font16 {
  font-size: var(--16px);
}

.font18 {
  font-size: var(--18px);
}

.font20 {
  font-size: var(--20px);
}

.scroll_y {
  overflow-y: auto;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #757474;
}

.scroll_y::-webkit-scrollbar {
  background: #5596e6;
  width: 5px;
}

.scroll_y::-webkit-scrollbar-button {
  background: #5596e6;
}

.scroll_y::-webkit-scrollbar-thumb {
  background: #022c60;
}

.opacity05 {
  opacity: 0.5;
}

.back {
  width: fit-content;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  height: fit-content;
}

.font24 {
  font-size: 24px;
}

.fontW600 {
  font-weight: 600;
}

.italics {
  font-style: italic;
}

.lnH18 {
  line-height: 18px;
}

.flex {
  display: var(--flex);
}

.column {
  flex-direction: var(--column);
}

.justify_center {
  justify-content: var(--center);
}

.align_center {
  align-items: var(--center);
}

.align_start {
  align-items: var(--start);
}

.justify_end {
  justify-content: var(--end);
}

.justify_start {
  justify-content: var(--start);
}

.justify_between {
  justify-content: space-between;
}

.textCenter {
  text-align: var(--center);
}

.textRight {
  text-align: right;
}

.wrap {
  flex-wrap: wrap;
}

.gap02rem {
  gap: 0.2rem;
}

.gap025rem {
  gap: 0.25rem;
}

.gap05rem {
  gap: var(--05rem);
}

.gap1rem {
  gap: var(--1rem);
}

.gap15rem {
  gap: var(--15rem);
}

.gap2rem {
  gap: var(--2rem);
}

.gap3rem {
  gap: 3rem;
}

.gap5rem {
  gap: var(--5rem);
}

.darkBlue {
  background: var(--mainColor);
}

.white {
  color: var(--white);
}

.black {
  color: #000;
}

.white-black {
  color: var(--white-black);
}

.green {
  color: #0ac710;
}

.white-space {
  white-space: pre-line;
}

.mainBackground {
  background: var(--secondaryColor);
}

.primaryColor {
  background: var(--primaryColor);
}

.blue {
  color: #5596e6;
}

.blue_background {
  background: #5596e6;
}

.blue_border {
  border: 1px solid var(--blue_color);
}

.padding05rem {
  padding: var(--05rem);
}

.padding1rem {
  padding: var(--1rem);
}

.padding2rem {
  padding: var(--2rem);
}

.paddingLeft2rem {
  padding-left: var(--2rem);
}

.paddingLeft5 {
  padding-left: var(--5);
}

.paddingRight2rem {
  padding-right: var(--2rem);
}

.paddingRight5rem {
  padding-right: 5rem;
}
.paddingTop1Rem {
  padding-top: var(--1rem);
}

.padding3rem {
  padding: var(--3rem);
}

.padding2 {
  padding: var(--2);
}

.margintop1rem {
  margin-top: 1rem;
}

.white_color {
  color: #bbb;
}

.width100 {
  width: 100%;
}

.width90 {
  width: 90%;
}

.resize_off {
  resize: none;
}

.width_fit {
  width: fit-content;
}

.roundedImage {
  border-radius: 50%;
}

.br6px {
  border-radius: 6px;
}

.object-cover {
  object-fit: cover;
}

.sticky {
  position: sticky;
}

.top15Vh {
  top: 15vh;
}

.relative {
  position: relative;
}

.br6 {
  border-radius: 6px;
}

.show {
  display: block;
}

.hr {
  border: 0.01rem solid var(--border_color);
}

.hr:nth-last-child(1) {
  border: none;
}

/* ----- 404 PAGE ------ */

.not_found_page_header {
  background: linear-gradient(to right, #777777, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: typewriter 4s steps(30) infinite;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.not_found_image_div {
  animation: up-down 2s infinite;
}

.not_found_image_shadow1 {
  position: relative;
  width: 300px;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    box-shadow: 0 -25px 5px #fff;
    width: 100px;
    height: 10px;
    border-radius: 50%;
    transform: translateX(-50%);
  }
}

.not_found_image {
  width: 300px;
  transition: all 0.5s;
  height: auto;
  filter: drop-shadow(5px 5px 15px #fff);
}

.not_found_image_shadow {
  box-shadow: 0px 5px 20px #ffffff;
  height: 20px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.auto {
  margin: auto;
}

@keyframes typewriter {
  0%,
  20% {
    width: 10%;
  }
  60%,
  80% {
    width: 100%;
  }
  100% {
    width: 10%;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .show {
    display: none;
  }

  .navTransparent {
    background-color: var(--navTransparent);
  }

  .back {
    width: fit-content;
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}
