/* .navLayoutHeader {
  position: relative;
  top: 0;
} */

@media (min-width: 200px) and (max-width: 767px) {
  .navLayoutHeader {
    position: fixed;
    right: 0;
    top: 40vh;
    width: fit-content;
    z-index: 9999;
  }
}
