.profileHeaderContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileHeaderImage {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
/* 
.profileHeaderImageSection {
} */

.profileImage {
  height: 80px;
  width: 80px;
}

.profileHeaderNavs {
  display: flex;
  justify-content: space-between;
}

.profileHeaderNavBtnDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profileHeaderProfileImageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
}

.profileHeaderNavs2 {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

@media (min-width: 200px) and (max-width: 767px) {
  .profileHeaderImage {
    width: 100%;
    height: 80px;
    object-fit: cover;
  }

  .profileHeaderProfileImageDiv {
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
    right: 0;
    left: auto;
    top: 0;
    transform: none;
    background: rgba(0, 0, 0, 0.6);
    /* clip-path: polygon(0 1%, 100% 0, 100% 100%, 58% 100%); */
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 58% 100%);
    width: 100%;
    color: #fff;
    padding: 0.5rem;
    height: 80px;
  }

  .profileImage {
    height: 60px;
    width: 60px;
  }

  .follow_count {
    font-size: 14px;
  }
}
