.container {
  padding: 0.5rem 2rem;
  height: 10vh;
  position: sticky;
  top: 0;
  /* background: #151a23; */
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subContainer2 {
  display: flex;
  gap: 1.5rem;
  /* align-items: center; */
}

.icons {
  font-size: 20px;
}

.hamBurger {
  display: none;
}

.white_text {
  color: #bbb;
}

.dark_text {
  color: #2f3b50;
}

@media (min-width: 200px) and (max-width: 767px) {
  .container {
    position: relative;
    height: 7vh;
    padding: 1rem 0.5rem;
  }

  .hamBurger {
    display: block;
    text-align: right;
    position: absolute;
    right: 0.5rem;
  }

  .subContainer {
    height: 93vh;
    width: 30%;
    position: absolute;
    top: 7vh;
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: initial;
    gap: 2.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.5s ease-in-out;
  }

  .backLight {
    background-color: rgb(255, 255, 255);
  }

  .backDark {
    background-color: rgba(98, 150, 211, 0.3);
  }

  .subContainer2 {
    flex-direction: column;
  }

  .icons {
    font-size: 30px;
  }

  .hide {
    right: -100%;
  }

  .show {
    right: 0;
  }

  /* var(--mainColor) */
}
