.container {
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 99999;
  height: 100vh;
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  height: 70vh;
}

.toggleContainer {
  margin: 100% 0;
  height: fit-content;
}

.subContainer2 {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.icons {
  font-size: 20px;
}

.hamBurger {
  display: none;
}

.white_text {
  color: #f4f4f4;
}

.dark_text {
  color: #111;
}

.navLabel {
  font-size: 16px;
}

@media (min-width: 200px) and (max-width: 767px) {
  .container {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 0;
    padding: 0;
    width: 0;
  }

  .toggleContainer {
    margin: 0;
  }

  .navLabel {
    font-size: 16px;
  }

  .hamBurger {
    display: block;
    text-align: right;
    right: 0.5rem;
    bottom: 7px;
    position: fixed;
    height: calc(100vh - (90vh + 25px));
    width: calc(100vh - (90vh + 25px));
    padding: 0.5rem;
  }

  .subContainer2 {
    /* gap: 2rem; */
    justify-content: space-evenly;
    height: 100%;
    z-index: 99999;
  }

  .subContainer {
    height: fit-content;
    width: 200px;
    position: fixed;
    top: 0;
    height: 90%;
    flex-direction: row;
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    padding: 1rem 0 1rem 0;
    align-items: center;
    transition: all 0.5s ease-in-out;
    background: var(--primaryColor);
    z-index: 99999;
  }

  .backLight {
    background-color: var(--background_transparent);
  }

  .icons {
    font-size: 24px;
  }

  .hide {
    right: -999%;
  }

  .show {
    right: 0;
  }
}
