.container {
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100vh;
  border: 1px solid #fff;
}

.subContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  height: 70vh;
}

.toggleContainer {
  /* margin-top: 20%; */
  /* justify-self: flex-end; */
  margin: 100% 0;
  height: fit-content;
}

.subContainer2 {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.icons {
  font-size: 20px;
}

.hamBurger {
  display: none;
}

.white_text {
  color: #f4f4f4;
}

.dark_text {
  color: #111;
}

.navLabel {
  font-size: 16px;
}

@media (min-width: 200px) and (max-width: 767px) {
  .container {
    position: initial;
    height: 7vh;
    padding: 1rem 0.5rem;
    width: 50px;
  }

  .toggleContainer {
    margin: 0;
  }

  .navLabel {
    font-size: 12px;
  }

  .hamBurger {
    display: block;
    text-align: right;
    position: absolute;
    right: 0.5rem;
  }

  .subContainer {
    height: fit-content;
    width: 200px;
    position: absolute;
    top: 7vh;
    flex-direction: row;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: initial;
    gap: 2.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.5s ease-in-out;
  }

  .links {
    flex-grow: 1;
    flex-direction: column;
  }

  .backLight {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .backDark {
    background-color: rgba(98, 150, 211, 0.3);
  }

  .subContainer2 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .icons {
    font-size: 30px;
  }

  .hide {
    right: -999%;
  }

  .show {
    right: 0;
  }
}
