.hoverContainer {
  display: inline-block;
}

.hoverElement {
  font-size: 20px;
}

.hoverShow {
  position: absolute;
  top: 100%;
  /* left: 50%; */
  right: 0;
  /* transform: translateX(-50%); */
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  white-space: nowrap;
  pointer-events: none;
}

.hoverContainer:hover .hoverShow {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.inputBorder {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.inputDiv input:focus + .inputBorder,
.inputDiv2 textarea:focus + .inputBorder {
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
}

.inputDiv input:focus,
.inputDiv2 textarea:focus {
  outline: none;
  border: none;
}
