.containerSm1 {
  width: 100%;
}

.container {
  flex-direction: column;
}

.containerSm2 {
  width: 100%;
  padding: 0.5rem;
}

@media (min-width: 200px) and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .containerSm1 {
    width: 100%;
  }

  .containerSm2 {
    width: 100%;
  }
}
